name: CI
on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
    tags: [ v* ]
permissions:
  contents: write        # release-drafter requirement
jobs:
  ci:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '25'
          cache: 'maven'
      - name: Test
        run: mvn --batch-mode --update-snapshots verify
      - name: Prepare release notes
        uses: release-drafter/release-drafter@b1476f6e6eb133afa41ed8589daba6dc69b4d3f5 # v6, specifically v6.1.0
        with:
          config-name: release-drafter.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  fray-tests:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        channel_size: [ 0, 1, 10 ]
        segment_size: [ 4, 32 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '25'
          cache: 'maven'
      - name: Install current Jox # so that latest channels code is available
        run: mvn install -DskipTests=true
      - name: Run Fray tests (CHANNEL_SIZE=${{ matrix.channel_size }}, JOX_SEGMENT_SIZE=${{ matrix.segment_size }})
        run: mvn --batch-mode verify -Pintegration-tests -pl channels-fray-tests
        env:
          CHANNEL_SIZE: ${{ matrix.channel_size }}
          JOX_SEGMENT_SIZE: ${{ matrix.segment_size }}

  publishReleaseNotes:
    name: Publish release notes
    needs: [ ci, fray-tests ]
    runs-on: ubuntu-24.04
    if: github.event_name != 'pull_request' && (startsWith(github.ref, 'refs/tags/v'))
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '25'
      - name: Extract version from tag name
        run: |
          version=${GITHUB_REF/refs\/tags\/v/}
          echo "VERSION=$version" >> $GITHUB_ENV
      - name: Publish release notes
        uses: release-drafter/release-drafter@b1476f6e6eb133afa41ed8589daba6dc69b4d3f5 # v6, specifically v6.1.0
        with:
          config-name: release-drafter.yml
          publish: true
          name: "v${{ env.VERSION }}"
          tag: "v${{ env.VERSION }}"
          version: "v${{ env.VERSION }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
